<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-info address">
      <p>P.O. Box 548</p>
      <p>Accord, MA 02018</p>
      <a class="Phone" href="tel:17812677627">(781) 267-7627</a>
      <a class="Email" href="mailto:emma@vdhinc.org">emma@vdhinc.org</a>
    </div>
    <p class="copyright">
      Copyright © <span id="year"></span> VDH Inc. All Rights Reserved.
    </p>
  </div>

  <script>
    const yearTag = document.getElementById('year');
    yearTag.textContent = new Date().getFullYear();
  </script>
</div>
