<header class="header">
  <!-- Mobile nav -->
  <div class="mobile mobile-nav">
    <a href="/donate" class="donate"><i class="fa fa-heart"></i>Donate</a>
    <div class="burger" onclick="burgerClick(this)">
      <div class="container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      {% include "partials/nav.html" %}
    </div>
  </div>

  <!-- Normal nav -->
  {% include "partials/nav.html" %}

  <div class="site-branding desktop">
    <a href="/" title="Visiting Dental Hygiene, Inc." class="site-intro">
      {% include "partials/logo.html" %}
      <div class="site-header-text">
        <h1 class="site-title desktop">Visiting Dental Hygiene, Inc.</h1>
        <h2 class="site-description">
          Mobile Dental Hygiene Care (Nonprofit – 501(c)(3))
        </h2>
      </div>
    </a>
    <div class="slogan">
      <h3>Bringing smiles and dignity to dental care</h3>
    </div>
  </div>
  <div class="site-branding mobile">
    <div class="branding-container">
      {% include "partials/logo.html" %}
      <h1 class="site-title">VDH, Inc.</h1>
      <h2 class="site-description">
        Mobile Dental Hygiene Care (Nonprofit – 501(c)(3))
      </h2>
    </div>
    <div class="slogan">
      <h3>Bringing smiles and dignity to dental care</h3>
    </div>
  </div>
</header>
