<div class="sidebar">
  <h2 style="margin-top: 0">Our Services</h2>
  <div class="services">
    <ul>
      <li>Dental Screenings</li>
      <li>Oral Cancer Screenings</li>
      <li>Personal Oral Hygiene Instructions</li>
      <li>Prophylaxis</li>
      <li>Desensitizing Treatments</li>
      <li>Protective Dental Sealants</li>
      <li>Dental Referral Service</li>
      <li>Pregnancy Dental Screenings</li>
    </ul>
    <a href="/about">Learn More</a>
  </div>

  <h2>To Establish Care for Your Facility</h2>
  <a href="/contact">Contact us today!</a>

  <h2>Patient Forms</h2>
  <p>Get started by filling out our Mobile Dental Consent Form…</p>
  <a href="/forms">Click for forms</a>

  <h2>Payment</h2>
  <p>
    For your convenience we accept Mass Health Insurance as well as private pay.
  </p>
  <a href="https://www.mass.gov/topics/masshealth" target="_blank">
    <img src="/img/Masshealth.png" />
  </a>
</div>
