<div class="sidebar">
  <h2 style="margin-top: 0">Our Services</h2>
  <div class="services">
    <ul>
      <li><a href="/services#prophylaxis">Prophylaxis</a></li>
      <li><a href="/services#dental-screening">Dental Screenings</a></li>
      <li><a href="/services#oral">Oral Cancer Screenings</a></li>
      <li><a href="/services#preg">Pregnancy Dental Screenings</a></li>
      <li>
        <a href="/services#personal">Personal Oral Hygiene Instructions</a>
      </li>
      <li><a href="/services#desensitizing">Desensitizing Treatments</a></li>
      <li><a href="/services#protective">Protective Dental Sealants</a></li>
      <li><a href="/services#referrals">Dental Referral Service</a></li>
    </ul>
    <a href="/services">Learn More</a>
  </div>

  <h2>To Establish Care for Your Facility</h2>
  <a href="/contact">Contact us today!</a>

  <h2>Patient Forms</h2>
  <p>Get started by filling out our Mobile Dental Consent Form…</p>
  <a href="/forms">Click for forms</a>

  <h2>Payment</h2>
  <p>
    For your convenience we accept Mass Health Insurance as well as private pay.
  </p>
  <a href="https://www.mass.gov/topics/masshealth" target="_blank">
    <img src="/img/Masshealth.png" />
  </a>
</div>
