<nav class="main-nav" id="navigation">
  <ul>
    <li class="nav-home">
      <a href="/">Home</a>
    </li>
    <li class="nav-about">
      <a href="/about">About</a>
    </li>
    <li class="nav-contact">
      <a href="/contact">Contact</a>
    </li>
    <li class="nav-forms">
      <a href="/forms">Forms</a>
    </li>
    <li class="nav-services">
      <a href="/services">Services</a>
    </li>

    <!-- donate must always come last -->
    <li class="nav-donate">
      <a href="/donate"><i class="fa fa-heart"></i>Donate</a>
    </li>
  </ul>
</nav>
