<!-- index.nunjucks -->
{% set body_class = "home" %} {% set title = "VDH - Home" %} {% extends
"default.html" %} {% block content %}

<div class="content-area">
  <h1>Protecting Beautiful Smiles</h1>
  <img alt="Chair" src="/img/chair.jpg" />
  <h3>What is a Public Health Hygienist?</h3>
  <p>
    A public health dental hygienist is a practicing registered dental hygienist
    who may perform dental hygiene procedures in a public health setting or in
    home bound settings without the supervision or direction of a dentist.
  </p>
  <h3>We are a mobile dental hygiene practice</h3>
  <p>Specializing in teeth cleaning and overall health.</p>
  <a href="/about">Learn More</a>
</div>

{% endblock %}
