<!-- index.nunjucks -->
{% set body_class = "home" %} {% set title = "VDH - Home" %} {% extends
"default.html" %} {% block content %}

<div class="content-area">
  <h1 style="margin: 0">Protecting Beautiful Smiles</h1>
  <h4 class="some-statement">
    VISITING DENTAL HYGIENE PROVIDES PREVENTIVE DENTAL CARE WITH COMPASSION AND
    COMFORT FOR THOSE WHO NEED IT
  </h4>
  <img alt="Chair" src="/img/chair.jpg" />
  <h3>Our Mission</h3>
  <p>
    Bringing beautiful smiles to those who otherwise would not have access due
    to cost, transportation or location.
  </p>
  <h3>Our Vision</h3>
  <p>
    Assuring that everyone in Southeastern MA has access to quality dental
    hygiene care at little to no cost.
  </p>
  <h3>Our Core Values</h3>
  <p>
    Dental care is overlooked as an important aspect of overall health. VDH
    believes that everyone deserves the care that will result in beautiful
    smiles. Getting it changes lives. We recognize that the first step may be
    the hardest. So, our hygienists provide support and compassion for the whole
    patient.
  </p>
  <h3>What is a Public Health Hygienist?</h3>
  <p>
    A public health dental hygienist is a practicing registered dental hygienist
    who may perform dental hygiene procedures in a public health setting or in
    home bound settings without the supervision or direction of a dentist.
  </p>
  <h3>We are a mobile dental hygiene practice</h3>
  <p>Specializing in teeth cleaning and overall health.</p>
  <a href="/about">Learn More</a>
</div>

{% endblock %}
