{% set body_class = "contact" %} {% set title = "VDH - Services" %} {% extends
"default.html" %} {% block content %}
<div class="content-area">
  <h1>Services</h1>

  <h3 id="prophylaxis">
    Prophylaxis
    <p>- A cleaning procedure to thoroughly clean the teeth</p>
  </h3>

  <p>
    Prophylaxis is an important dental treatment for halting the progression of
    periodontal disease and gingivitis.
  </p>
  <p>
    Periodontal disease and gingivitis occur when bacteria from plaque colonize
    on the gingival (gum) tissue – either above or below the gum line. These
    bacteria colonies cause serious inflammation and irritation which in turn
    produce a chronic inflammatory response in the body.
  </p>
  <p>
    As a result, the body begins to systematically destroy gum and bone tissue,
    making the teeth shift, become unstable, or completely fall out. The pockets
    between the gums and teeth become deeper and house more bacteria which may
    travel via the bloodstream and infect other parts of the body.
  </p>

  <h3 id="dental-screening">
    Dental Screening
    <p>- A checkup of your teeth and gums</p>
  </h3>

  <p>
    Dental screening is used to identify tooth decay, gum disease, and other
    oral health problems early when they're easier to treat. The screenings are
    also used to help educate people on the best ways to care for their teeth
    and gums.
  </p>

  <h3 id="oral">
    Oral Cancer Screening
    <p>- Detecting mouth cancer or pre-cancerous lesions</p>
  </h3>

  <p>
    The goal of oral cancer screening is to detect mouth cancer or precancerous
    lesions that may lead to mouth cancer at an early stage — when cancer or
    lesions are easiest to remove and most likely to be cured.
  </p>
  <p>
    People with a high risk of oral cancer may be more likely to benefit from
    oral cancer screening. Factors that can increase the risk of oral cancer
    include:
  </p>
  <ul>
    <li>
      Tobacco use of any kind, including cigarettes, cigars, pipes, chewing
      tobacco and snuff, among others
    </li>
    <li>Heavy alcohol use</li>
    <li>Previous oral cancer diagnosis</li>
    <li>
      History of significant sun exposure, which increases the risk of lip
      cancer.
    </li>
  </ul>
  <p>
    The number of people diagnosed with mouth and throat cancers has been rising
    over the last several years. An increasing number of these cancers are
    associated with the sexually transmitted infection human papillomavirus
    (HPV).
  </p>

  <h3 id="preg">
    Pregnancy Oral Screening
    <p>- Pregnancy increases the risk of oral health problems</p>
  </h3>
  <p>
    Due to physiological changes associated with pregnancy it can cause
    periodontal (gum)disease, and tooth decay.
  </p>
  <p>
    In addition, early screening of women for oral health problems, provides an
    opportunity for women to learn about how to prevent decay for themselves and
    for their future or existing children. We take the time to explain to each
    pregnant patient in our care the link between gum disease and the risk of
    low birth weight and preterm labor. This knowledge helps to motivate and
    empower each expecting mother to care for her oral health.
  </p>

  <h3 id="personal">
    Oral Hygiene Instruction
    <p>- For the prevention of cavities, gingivitis, periodontitis</p>
  </h3>

  <p>
    Our hygienists will take the time to instruct you on how to care for your
    teeth and gums. Oral hygiene is the best means of prevention of cavities
    (dental caries), gingivitis, periodontitis, and other dental disorders. It
    also helps to prevent bad breath (halitosis). Oral hygiene is necessary for
    all persons to maintain the health of their teeth and mouth. Healthy gums
    are pink and firm.
  </p>
  <p>
    Healthy teeth have less cavities. They are clean and have minimal or no
    plaque deposits. The teeth should be brushed at least twice daily and
    flossed at least once per day. For some people, brushing and flossing may be
    recommended after every meal and at bedtime.
  </p>

  <p>
    Dentures, retainers, and other appliances must be kept extremely clean. This
    includes regular brushing and includes soaking them in a cleansing solution
    at night, which allows for the gums to “breath” while the patient sleeps.
  </p>

  <h3 id="desensitizing">
    Desensitizing Treatments
    <p>- Managing tooth sensitivity</p>
  </h3>
  <p>
    There are several treatment options for managing dentinal hypersensitivity.
    Chemical or physical agents are used to either desensitize the nerve or to
    cover the exposed dentinal tubules.
  </p>
  <p>
    Our team will apply Fluoride varnish, which prevents new cavities from
    forming and slows down or stops decay from progressing. This fluoride
    varnish is a desensitizing agent, which will seal areas of dentin surfaces
    (areas which become exposed when a patient experiences gum recession). We
    dispense toothpaste that is designed for sensitive teeth to each patient.
  </p>

  <h3 id="silver">
    Silver Diamine Fluoride Treatment
    <p>- Applied directly to cavities to stop tooth decay</p>
  </h3>

  <p>
    Some patients who have active tooth decay may be eligible for an alternative
    treatment that uses Silver Diamine Fluoride (SDF). SDF is an antimicrobial
    liquid that treats cavities in a non- invasive, fast, affordable, and
    painless manner. SDF is a liquid that is simply brushed on to the cavity
    that can stop current decay and prevent new decay in the future.(I removed
    "can treat" to "take treats")
  </p>

  <h3 id="protective">Protective Dental Sealants</h3>

  <p>
    A dental sealant is a thin, plastic coating painted on the chewing surfaces
    of the back teeth (6 year old and 12 year old molars) to prevent tooth decay
    for children. The sealant quickly bonds into the depressions and grooves of
    the teeth, forming a protective shield over the enamel of each tooth.
  </p>
  <p>
    Although thorough brushing and flossing can remove food particles and plaque
    from smooth surfaces of teeth, they cannot always get into all the nooks and
    crannies of the back teeth to remove the food and plaque. Sealants protect
    these vulnerable areas from tooth decay by "sealing out" plaque and food.
  </p>
  <p>Placement of dental sealants are completely painless.</p>

  <h3 id="referrals">Dental Referral Service</h3>
  <p>
    Our team will take the time to instruct each patient on how to locate a
    dentist in their area for follow up dental care.
  </p>
</div>
{% endblock %}
